@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
  animation-delay: 0s;
}

@keyframes fadeSlide {
  0%, 100% { opacity: 1; }
  25%, 85% { opacity: 0; }
}

.slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  opacity: 0;
  animation: fadeSlide 24s infinite; 
  /* transition: 1s ease-in-out; */
}

.slideshow img:nth-child(1) { animation-delay: 0s; opacity: 1; }
.slideshow img:nth-child(2) { animation-delay: 4s; }
.slideshow img:nth-child(3) { animation-delay: 8s; }
.slideshow img:nth-child(4) { animation-delay: 12s; }
.slideshow img:nth-child(5) { animation-delay: 16s; }
.slideshow img:nth-child(6) { animation-delay: 20s; }

/* best visibility styling animation */

@keyframes fadeSlide2 {
  0%, 100% { opacity: 1; }
  30%, 90% { opacity: 0; }
}

.slideshow2 img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75rem;
  opacity: 0;
  animation: fadeSlide2 20s infinite; 
  /* transition: 1s ease-in-out; */
}

.slideshow2 img:nth-child(1) { animation-delay: 0s; opacity: 1; }
.slideshow2 img:nth-child(2) { animation-delay: 5s; }
.slideshow2 img:nth-child(3) { animation-delay: 10s; }
.slideshow2 img:nth-child(4) { animation-delay: 15s; }

